//***************************************************************************//
//*                                                                     *****//
//*                              PORTFOLIO SINGOLO
//*
//*                                                                         *//
//***************************************************************************//

.single-portfolio {
  #av_section_2.main_color .entry-content-wrapper > div:nth-child(2) {
    background: palette(main, bg-alt);
    color: palette(main, body-alt);
    padding: $line-height;

    h3 {
      color: palette(main, body-alt);
    }

    a {
      color: palette(main, accent-alt);
      text-decoration: underline;

      &.avia-button {
        color: palette(main, button);
        text-decoration: none;
      }
    }

    strong {
      color: palette(main, accent-alt);
    }
  }
}
