//****************************************************************************//
//                                 COLORI
//              In questa sezione vengono configurati i colori
//            nella prima parte si utilizzano dei colori "veri" che
//            vengono setuppati in delle variabili dai nomi leggibili
//
//              Nella seconda parte le variabili vengono associate
//            ai valori della mappa $colors che utilizza invece nomi
//            legati alle funzioni svolte dal colore.
//****************************************************************************//

///
// SETUP COLORE - //TODO
// Segnare qui le variabili semantiche dei colori
///

///
// SEZIONI COLORI - //TODO
// Usare qui le variabili semantiche segnate sopra
///
$rosa-shock: #f50056;
$rosa-chiaro: #ec4079;
$cipria: #fce4ec;

$ciano: #00bbd4;
$ciano-morbido: #00ACC1;
$ciano-chiaro: #80DEEA;
$ciano-800: #00838F;
$nuvola: #e0f7fa;

$nero: #212121;
$nero-chiaro: #616161;
$grigio: #9e9e9e;
$polvere: #eeeeee;
$quasi-bianco: #f5f5f5;

$verde: #4CAF50;




  $colors: (
    header: (
      body:       white,      //Corpo - testo
      body-sec:   $nuvola,      //Secondario - blockquote o blog meta
      heading:    white,      //Titoli
      link:       white,      //Link
      bg:         $ciano-morbido,      //Sfondo principale
      border:     $ciano-800,      //Bordi

      accent:     $ciano-chiaro,      //Accento - sfondo lista icone / grassetti / icone

      body-alt:   $nero,      //body alternativo - testo in un form o in un box
      bg-alt:     $ciano-chiaro,      //sfondo alt - il bg di un form o di un box
      accent-alt: $ciano-800,      //accento alt - il di un link nel form

      overlay:    rgba($ciano, 0.5),      //Colore sfondo overlay

      button:     white,      //colore bottone
      button-bg:  $verde,       //bg bottone
    ),

    main: (
      body:       $nero,      //Corpo - testo
      body-sec:   $nero-chiaro,      //Secondario - blockquote o blog meta
      heading:    $nero-chiaro,      //Titoli
      link:       $rosa-shock,      //Link
      bg:         white,      //Sfondo principale
      border:     $nero-chiaro,      //Bordi

      accent:     $rosa-shock,      //Accento - sfondo lista icone / grassetti / icone

      body-alt:   $nero,      //body alternativo - testo in un form o in un box
      bg-alt:     $quasi-bianco,      //sfondo alt - il bg di un form o di un box
      accent-alt: $rosa-shock,      //accento alt - il di un link nel form

      overlay:    rgba($polvere, 0.3),      //Colore sfondo overlay

      button:     white,      //colore bottone
      button-bg:  $verde       //bg bottone
    ),

    alternate: (
      body:       null,      //Corpo - testo
      body-sec:   null,      //Secondario - blockquote o blog meta
      heading:    null,      //Titoli
      link:       null,      //Link
      bg:         null,      //Sfondo principale
      border:     null,      //Bordi

      accent:     null,      //Accento - sfondo lista icone / grassetti / icone

      body-alt:   null,      //body alternativo - testo in un form o in un box
      bg-alt:     null,      //sfondo alt - il bg di un form o di un box
      accent-alt: null,      //accento alt - il di un link nel form

      overlay:    null,      //Colore sfondo overlay

      button:     null,      //colore bottone
      button-bg:  green      //bg bottone
    ),

    socket: (
      body:       white,      //Corpo - testo
      body-sec:   $cipria,      //Secondario - blockquote o blog meta
      heading:    white,      //Titoli
      link:       white,      //Link
      bg:         $rosa-chiaro,      //Sfondo principale
      border:     $rosa-shock,      //Bordi

      accent:     $nero,      //Accento - sfondo lista icone / grassetti / icone

      body-alt:   $nero,      //body alternativo - testo in un form o in un box
      bg-alt:     $cipria,      //sfondo alt - il bg di un form o di un box
      accent-alt: $rosa-shock,      //accento alt - il di un link nel form

      overlay:    rgba($rosa-chiaro, 0.3),      //Colore sfondo overlay

      button:     white,      //colore bottone
      button-bg:  $verde      //bg bottone
    ),

    footer: (
      body:       $quasi-bianco,      //Corpo - testo
      body-sec:   $quasi-bianco,      //Secondario - blockquote o blog meta
      heading:    $polvere,      //Titoli
      link:       white,      //Link
      bg:         $nero,      //Sfondo principale
      border:     $nero-chiaro,      //Bordi

      accent:     white,      //Accento - sfondo lista icone / grassetti / icone

      body-alt:   $nero,      //body alternativo - testo in un form o in un box
      bg-alt:     $polvere,      //sfondo alt - il bg di un form o di un box
      accent-alt: $ciano,      //accento alt - il di un link nel form

      overlay:    rgba($nero, 0.3),      //Colore sfondo overlay

      button:     white,      //colore bottone
      button-bg:  $verde      //bg bottone
    )
  );


//****************************************************************************//                         //                                 BOTTONI
//****************************************************************************//

///
// Ombra
///
$button-shadow: 0 0.07em 0.085em 0 rgba(0, 0, 0, 0.26);


///
// HOVER del BOTTONE
// Funzione: darken e/o lighten (del bg originale) + funzione
///
