//****************************************************************************//
//                                 COLORI
//              In questa sezione vengono configurati i colori
//            nella prima parte si utilizzano dei colori "veri" che
//            vengono setuppati in delle variabili dai nomi leggibili
//
//              Nella seconda parte le variabili vengono associate
//            ai valori della mappa $colors che utilizza invece nomi
//            legati alle funzioni svolte dal colore.
//****************************************************************************//

///
// SETUP COLORE - //TODO
// Segnare qui le variabili semantiche dei colori
///
$tortora: #e1e1da;
$tortora-leggero: #f6f6f3;
$grigio-scuro: #3c3c3c;
$grigio-chiaro: #6f6f6f;
$bianco: #ffffff;
$nero: #010101;

///
// SEZIONI COLORI - //TODO
// Usare qui le variabili semantiche segnate sopra
///

  $colors: (
    header: (
      body:       $bianco,      //colore corpo
      body-sec:   $bianco,      // Colore secondario - es blockquote
      heading:    $bianco,      //colore titoli
      link:       $bianco,      //Colore link
      bg:         $nero,      //Colore sfondo principale
      border:     $bianco,      //Colore Bordi

      accent:     $bianco,      //Colore accento - p.es icone / sfondo icone

      body-alt:   $grigio-scuro,      //colore body alternativo
      bg-alt:     $grigio-chiaro,      //Colore sfondo alternativo
      accent-alt: null,      //accento alt - il di un link nel form

      overlay:    rgba($bianco, 0.35),      //Colore sfondo overlay

      button:     $nero,      //colore bottone
      button-bg:  $tortora-leggero       //bg bottone
    ),

    main: (
      body:       $nero,      //colore corpo
      body-sec:   $grigio-chiaro,      // Colore secondario - es blockquote
      heading:    $nero,      //colore titoli
      link:       $nero,      //Colore link
      bg:         $bianco,      //Colore sfondo principale
      border:     $nero,      //Colore Bordi

      accent:     $nero,      //Colore accento - p.es icone / sfondo icone

      body-alt:   $nero,      //colore body alternativo
      bg-alt:     $tortora,      //Colore sfondo alternativo
      accent-alt: null,      //accento alt - il di un link nel form

      overlay:    rgba($bianco, 0.5),  //Colore sfondo overlay

      button:     $tortora, //colore bottone
      button-bg:  $grigio-scuro,  //bg bottone
    ),

    alternate: (
      body:       $grigio-scuro,
      body-sec:   $grigio-scuro,
      heading:    $grigio-scuro,
      link:       $grigio-scuro,
      bg:         $bianco,
      border:     $tortora,

      accent:     $nero,

      body-alt:   $tortora,
      bg-alt:     $grigio-scuro,
      accent-alt: null,      //accento alt - il di un link nel form

      overlay:    rgba($grigio-scuro, 0.25),
      button:     $bianco,
      button-bg:  $nero
    ),

    socket: (
      body:       $nero,
      body-sec:   $nero,
      heading:    $nero,
      link:       $nero,
      bg:         $tortora,
      border:     $nero,

      accent:     $nero,

      body-alt:   $nero, // colore form e box
      bg-alt:     $tortora,
      accent-alt: null,      //accento alt - il di un link nel form

      overlay:    rgba($tortora, 0.35),

      button:     $nero,
      button-bg:  $tortora-leggero,
    ),

    footer: (
      body:       $bianco,
      body-sec:   $bianco,
      heading:    $bianco,
      link:       $bianco,
      bg:         $nero,
      border:     $bianco,

      accent:     $bianco,

      body-alt:   $nero, // colore form e box
      bg-alt:     $tortora,
      accent-alt: null,      //accento alt - il di un link nel form

      overlay:    rgba($bianco, 0.25),

      button:     $nero,
      button-bg:  $bianco,
    )
  );


//****************************************************************************//                         //                                 BOTTONI
//****************************************************************************//

///
// Ombra
///
$button-shadow: 0 0.07em 0.085em 0 rgba(0, 0, 0, 0.26);


///
// HOVER del BOTTONE
// Funzione: darken e/o lighten (del bg originale) + funzione
///
