//****************************************************************************//
//                                 COLORI
//              In questa sezione vengono configurati i colori
//            nella prima parte si utilizzano dei colori "veri" che
//            vengono setuppati in delle variabili dai nomi leggibili
//
//              Nella seconda parte le variabili vengono associate
//            ai valori della mappa $colors che utilizza invece nomi
//            legati alle funzioni svolte dal colore.
//****************************************************************************//

///
//SETUP COLORE //TODO
///
$tortora: #e1e1da;
$tortora-leggero: #f6f6f3;
$grigio-scuro: #3c3c3c;
$grigio-chiaro: #6f6f6f;
$bianco: #ffffff;
$nero: #000000;

///
// SEZIONI COLORI - //TODO Solo per progetti grossi o NO?
///



  $colors: (
    header: (
      body:       $bianco,      //colore corpo
      heading:    $bianco,          //colore titoli
      link:       $bianco,          //Colore link
      bg:         $nero,           //Colore sfondo principale

      accent:     $bianco,           //Colore accento //TOCHK

      border:     $bianco,      //Colore Bordi

      body-alt:   $grigio-scuro,      //colore body alternativo
      bg-alt:     $grigio-chiaro,     //Colore sfondo alternativo
      overlay:    rgba($bianco, 0.35), //Colore overlay

      button:     $nero,
      button-bg:  $tortora-leggero

    ),

    main: (
      body:       $grigio-scuro,
      heading:    $tortora,
      link:       $arancio,
      bg:         $bianco-2,

      accent:     $arancio,

      border:     $tortora,

      body-alt:   $grigio-scuro, // colore form e box
      bg-alt:     $tortora, // BG form e box
      overlay:    rgba($grigio-scuro, 0.25),

      button:     $bianco-2,
      button-bg:  $grigio-scuro,
    ),

    alternate: (
      body:       $grigio-scuro,
      heading:    $grigio-scuro,
      link:       $arancio,
      bg:         $bianco-1,

      accent:     $arancio,
      border:     $tortora,
      bg-alt:     $bianco-2,
      overlay:    rgba($grigio-scuro, 0.25),
      button:     $bianco-2,
      button-bg:  $arancio
    ),

    socket: (
      body:       $bianco-2,
      heading:    $bianco-2,
      link:       $bianco-2,
      bg:         $arancio,

      accent:     $bianco-2,
      border:     $bianco-2,

      body-alt:   $grigio-scuro, // colore form e box
      bg-alt:     rgba(white,0.75),
      overlay:    rgba($grigio-scuro, 0.25),

      button:     $bianco-2,
      button-bg:  $grigio-scuro
    ),

    footer: (
      body:       $grigio-scuro,
      heading:    $grigio-scuro,
      link:       $grigio-scuro,
      bg:         $grigio-chiaro,

      accent:     $arancio,
      border:     $grigio-scuro,
      bg-alt:     $bianco-1,
      overlay:    rgba($grigio-scuro, 0.25),

      button:     $bianco-2,
      button-bg:  $arancio
    )
  );


//****************************************************************************//                         //                                 BOTTONI
//****************************************************************************//

///
// Ombra
///
$button-shadow: 0 0.07em 0.085em 0 rgba(0, 0, 0, 0.26);


///
// HOVER del BOTTONE
// Funzione: darken e/o lighten (del bg originale) + funzione
///
