//*==========================================================================*//
//*                                                                          *//
//*                   VARIABILI PER    TIPOGRAFIA
//*                          DIMENSIONI & FACE
//*                                                                          *//
//*==========================================================================*//

///
// BASE DEL BODY
///
  $base: 16;
  $font-size: 1.125em; //TODO
  $line-height: 2em; //TODO


///
// p and other standard elements
///
  $margin-top: 0em; //TODO
  $margin-bottom: 2em; //TODO


///
// Families
///
  $font-family: 'Merriweather', serif; //TODO
  $font-family-heading: 'Josefin Sans', sans-serif; //TODO
  $font-family-special: $font-family-heading; //TODO
  $font-family-button: $font-family;


///
// WEIGHTS per Families
///
$weights: (
  ff: (
    family: $font-family,
    u-thin: 300,
    thin: 300,
    light: 300,
    normal: 300,
    bold: 700,
    extra: 900,
  ),

  ffh: (
    family: $font-family-heading,
    u-thin: 100,
    thin: 300,
    light: 300,
    normal: 400,
    bold: 600,
    extra: 600,
  ),

  ffs: (
    family: $font-family-special,
    u-thin: 100,
    thin: 300,
    light: 300,
    normal: 400,
    bold: 600,
    extra: 600,
  ),
);

////
// Dimensioni & caratteristiche dei font principali
////
  $fonts: (
    p: (
      fs: 1em,
      lh: $line-height,
      mt: $margin-top,
      mb: $margin-bottom,
      fm: family(ff, family),
      wt: family(ff, light),
    ),

    h1: (
      fs: 9.722222222222221em,
      lh: 1.028571428571429em,
      mt: 0.2057142857142857em,
      mb: 0em,
      fm: family(ffh, family),
      wt: family(ffh, normal),
    ),

    h2: (
      fs: 7.5em,
      lh: 1.0666666666666667em,
      mt: 0.2666666666666667em,
      mb: 0em,
      fm: family(ffh, family),
      wt: family(ffh, u-thin),
    ),

    h3: (
      fs: 2.777777777777778em,
      lh: 1.44em,
      mt: 0.72em,
      mb: 0em,
      fm: family(ffh, family),
      wt: family(ffh, light),
    ),

    h4: (
      fs: 1em,
      lh: 2em,
      mt: 2em,
      mb: 2em,
      fm: family(ffh, family),
      wt: family(ffh, bold),
    ),

    h5: (
      fs: 0.7777777777778em,
      lh: 1.142857142857em,
      mt: 1.9285714em,
      mb: 0em,
      fm: family(ffh, family),
      wt: family(ffh, u-thin),
    ),

    blockquote: (
      fs: 2em,
      lh: 2em,
      mt: 2em,
      mb: 0em,
      fm: family(ffh, family),
      wt: family(ffh, light),
  ),
);


////
// DETTAGLI
////
  $sup-top: -0.5em; //TODO
  $sub-bottom: -0.25em; //TODO
  $hr-spacing: 1px; //TODO



//****************************************************************************//
//                                      FORMS
//****************************************************************************//

$forms: (
  field: (
    fm: family(ffh, family),
    wt: family(ffh, normal),
  ),

  label: (
    fm: family(ffh, family),
    wt: family(ffh, normal),
  ),

  desc: (
    fm: family(ffh, family),
    wt: family(ffh, normal),
  ),
);
