//*==========================================================================*//
//*                                                                          *//
//*                   VARIABILI PER    TIPOGRAFIA
//*                          DIMENSIONI & FACE
//*                                                                          *//
//*==========================================================================*//

///
// BASE DEL BODY
///
  $base: 16;
  $font-size: 1.125em; //TODO
  $line-height: 2em; //TODO


///
// p and other standard elements
///
  $margin-top: 0em; //TODO
  $margin-bottom: 2em; //TODO


///
// Families
///
  $font-family: 'Droid Sans', sans-serif; //TODO
  $font-family-heading: 'Cardo', serif; //TODO
  $font-family-special: $font-family-heading; //TODO
  $font-family-button: $font-family;


///
// WEIGHTS per Families
///
$weights: (
  ff: (
    family: $font-family,
    u-thin: 400,
    thin: 400,
    light: 400,
    normal: 400,
    bold: 700,
  ),

  ffh: (
    family: $font-family-heading,
    u-thin: 400,
    thin: 400,
    light: 400,
    normal: 400,
    bold: 400,
  ),

  ffs: (
    family: $font-family-special,
    u-thin: 100,
    thin: 100,
    light: 200,
    normal: 400,
    bold: 600,
  ),
);

////
// Dimensioni & caratteristiche dei font principali
////
  $fonts: (
    p: (
      fs: 1em,
      lh: $line-height,
      mt: $margin-top,
      mb: $margin-bottom,
      fm: family(ff, family),
      wt: family(ff, normal),
    ),

    h1: (
      fs: 6em,
      lh: 1em,
      mt: 0.333333333333333em,
      mb: 0em,
      fm: family(ffh, family),
      wt: family(ffh, normal),
    ),

    h2: (
      fs: 3.222222222222222em,
      lh: 1.241379310344828em,
      mt: 0.6206896551724139em,
      mb: 0.6206896551724139em,
      fm: family(ffh, family),
      wt: family(ffh, normal),
    ),

    h3: (
      fs: 1.7222222222222222em,
      lh: 1.741935483870968em,
      mt: 1.161290322580645em,
      mb: 0em,
      fm: family(ffh, family),
      wt: family(ffh, normal),
    ),

    h4: (
      fs: 1em,
      lh: 1.5em,
      mt: 1.5em,
      mb: 0.5em,
      fm: family(ffh, family),
      wt: family(ffh, normal),
    ),

    h5: (
      fs: 0.8333333333333333em,
      lh: 1.2em,
      mt: 1.2em,
      mb: 0em,
      fm: family(ffh, family),
      wt: family(ffh, normal),
    ),

    blockquote: (
      fs: 1.7222222222222222em,
      lh: 1.741935483870968em,
      mt: 1.161290322580645em,
      mb: 0em,
      fm: family(ffh, family),
      wt: family(ffh, light),
  ),
);


////
// DETTAGLI
////
  $sup-top: -0.5em; //TODO
  $sub-bottom: -0.25em; //TODO
  $hr-spacing: 1px; //TODO



//****************************************************************************//
//                                      FORMS
//****************************************************************************//

$forms: (
  field: (
    fm: family(ff, family),
    wt: family(ff, normal),
  ),

  label: (
    fm: family(ff, family),
    wt: family(ff, normal),
  ),

  desc: (
    fm: family(ff, family),
    wt: family(ff, normal),
  ),
);
