//*==========================================================================*//
//*                                                                          *//
//*                   VARIABILI PER    TIPOGRAFIA
//*                          DIMENSIONI & FACE
//*                                                                          *//
//*==========================================================================*//

///
// BASE DEL BODY
///
  $base: 16;
  $font-size: 1.1875em; //TODO
  $line-height: 1.736842105263158em; //TODO


///
// p and other standard elements
///
  $margin-top: 0em; //TODO
  $margin-bottom: 1.5em; //TODO


///
// Families
///
  $serif: 'Roboto Slab', serif; //TODO
  $sans: 'Lato', sans-serif; //TODO
  $special: $serif; //TODO
  $ff-button: $sans;


///
// WEIGHTS per Families
///
$families: (
  serif: (
    fm: $serif,
    thin: 300,
    normal: 400,
    bold: 700,
    bolder: 700,
  ),

  sans: (
    fm: $sans,
    thin: 400,
    normal: 400,
    bold: 700,
    bolder: 900,
  ),

  special: (
    fm: $special,
    thin: 300,
    normal: 400,
    bold: 700,
    bolder: 700,
  ),
);

$decorations: (
  p: (
    fm: sans,
    wt: normal,
  ),

  h1: (
    fm: serif,
    wt: thin
  ),

  h2: (
    fm: serif,
    wt: thin,
  ),

  h3: (
    fm: serif,
    wt: normal,
  ),

  h4: (
    fm: serif,
    wt: bold,
  ),

  h5: (
    fm: serif,
    wt: bold,
  ),

  small: (
    fm: sans,
    wt: normal,
  ),
);
////
// Dimensioni & caratteristiche dei font principali
////
  $sizes: (
    p: (
      fs: 1em,
      lh: $line-height,
      mt: $margin-top,
      mb: $margin-bottom,
    ),

    h1: (
      fs: 5.894736842105263em,
      lh: 1.1785714285714286em,
      mt: 0.29464285714285715em,
      mb: 0,
    ),

    h2: (
      fs: 3.263157894736842em,
      lh: 1.0645161290322582em,
      mt: 0.5322580645161291em,
      mb: 0.5322580645161291em,
    ),

    h3: (
      fs: 1.736842105263158em,
      lh: 1em,
      mt: 1.5em,
      mb: 0.5em,
    ),

    h4: (
      fs: 1em,
      lh: 1.736842105263158em,
      mt: 1.736842105263158em,
      mb: 0em,
    ),

    h5: (
      fs: 0.8421052631578947em,
      lh: 1.03125em,
      mt: 1.03125em,
      mb: 0,
    ),

    small: (
      fs: 0.7894736842105263em,
      lh: 2.2em,
      mt: 2.2em,
      mb: 0,
    ),
);

$mobile-sizes: (
  h1: (
    fs: 1.953125em,
    lh: 1.538461538461538em,
    mt: 1.536em,
    mb: 0.768em,
  ),

  h2: (
    fs: 1.5625em,
    lh: 1.935483870967742em,
    mt: 0.96em,
    mb: 0.96em,
  ),

  h3: (
    fs: 1.25em,
    lh: 1.2em,
    mt: 1.8em,
    mb: 0.6em,
  ),
);

////
// DETTAGLI
////
  $sup-top: -0.5em; //TODO
  $sub-bottom: -0.25em; //TODO
  $hr-spacing: 1px; //TODO



//****************************************************************************//
//                                      FORMS
//****************************************************************************//

$forms: (
  field: (
    fm: family(sans, fm),
    wt: family(sans, normal),
  ),

  label: (
    fm: family(sans, fm),
    wt: family(sans, normal),
  ),

  desc: (
    fm: family(sans, fm),
    wt: family(sans, normal),
  ),
);
