//****************************************************************************//
//                               PADDING TOTALE SOPRA IL CONTENUTO
//****************************************************************************//

///*
// * Con TOPBAR attiva - HEADER STICKY e NAV SOTTO
// */
//.html_header_top.html_header_topbar_active.html_header_sticky.html_bottom_nav_header #main { //TOCHK
//  padding-top: ($line-height * 8); //TODO
//
//  @include respond-to(step-2) {
//    padding-top: ($line-height * 5); //TODO
//  }
//}

///*
// * SENZA TOPBAR - HEADER STICKY e NAV SOTTO
// */
//.html_header_top.html_header_sticky.html_bottom_nav_header #main {
//  padding-top: ($line-height * 8); //TODO
//
//  @include respond-to(step-2) {
//    padding-top: ($line-height * 5); //TODO
//  }
//}


///*
// * SENZA TOPBAR - HEADER STICKY e NAV INLINE
// */
//.html_header_top.html_header_sticky #main {
//  padding-top: ($line-height * 8); //TODO
//
//  @include respond-to(step-2) {
//    padding-top: ($line-height * 5); //TODO
//  }
//}

///*
// * CON TOPBAR - HEADER STICKY e NAV INLINE
// */
.html_header_top.html_header_topbar_active.html_header_sticky.html_large #top #main {
  padding-top: $line-height * 3;

}





/*
 * Margine Sopra Sidebar e contenuto
 */
.content,
.sidebar {
  padding-top: $line-height * 4;
  padding-bottom: $line-height * 4;
}

.content {
  border: 0;
  margin-right: 0;
}

.container {
  padding: 0 ($line-height * 1.5)
}

//padding del contenuto rispetto alla sidebar
.content .entry-content-wrapper {
  padding-right: $line-height * 2;
}

//****************************************************************************//
//                               COLONNE
//****************************************************************************//
/*
 * Margini Colonne
 */
body .column-top-margin {
  margin-top: $line-height * 2;
}


/*
 * Colonne senza margini
 */
#top div .no_margin {

}

#top div .no_margin.first {
  margin-left:0;
}
