//****************************************************************************//
//                               PADDING TOTALE SOPRA IL CONTENUTO
//****************************************************************************//

///*
// * Con TOPBAR attiva - HEADER STICKY e NAV SOTTO
// */
//.html_header_top.html_header_topbar_active.html_header_sticky.html_bottom_nav_header #main { //TOCHK
//  padding-top: ($line-height * 8); //TODO
//
//  @include respond-to(step-2) {
//    padding-top: ($line-height * 5); //TODO
//  }
//}

///*
// * SENZA TOPBAR - HEADER STICKY e NAV SOTTO
// */
//.html_header_top.html_header_sticky.html_bottom_nav_header #main {
//  padding-top: ($line-height * 8); //TODO
//
//  @include respond-to(step-2) {
//    padding-top: ($line-height * 5); //TODO
//  }
//}


///*
// * SENZA TOPBAR - HEADER STICKY e NAV INLINE
// */
//.html_header_top.html_header_sticky #main {
//  padding-top: ($line-height * 8); //TODO
//
//  @include respond-to(step-2) {
//    padding-top: ($line-height * 5); //TODO
//  }
//}

/*
 * Margine Sopra Sidebar e contenuto
 */
.content,
.sidebar {
  padding-top: $line-height * 3;
  padding-bottom: $line-height * 3;
}

.html_header_top.html_header_topbar_active.html_header_sticky.html_bottom_nav_header #top #main {
  padding-top: $line-height * 7;
  padding-bottom: 0;
}




//****************************************************************************//
//                               COLONNE
//****************************************************************************//
/*
 * Margini Colonne
 */
body .column-top-margin {
  margin-top: $line-height * 2;
}


/*
 * Colonne senza margini
 */
#top div .no_margin {

}

#top div .no_margin.first {
  margin-left:0;
}




//****************************************************************************//
//                    FEAT HEADER
//****************************************************************************//

#top .title_container .container {
  padding: $line-height 0;
}

.title_container {

  background-image: url('http://cascinagabutti.it/files/2016/03/pulcino_cascinagabutti.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;

  &::before {
    @include color-overlay;
  }

  h1.main-title {
    @include size(h1);
    @include deco(h1);

    text-align: center;
    display:block;

    @include respond-to(step-2) { font-size: font(h1, fs) * 0.7; }
  }

  strong.main-title {
    @include size(h2);
    @include deco(h2);

    text-align: center;
    display:block;

    //@include respond-to(step-2) { font-size: font(h3, fs) * 0.7; }
  }

  .breadcrumb {
    position: static;
    margin-top: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 1.125em;

    @include size(h5);
    margin-top: 0;
    margin-bottom: font(h5, lh);

    .breadcrumb-trail {
      display: inline-block;
    }
  }

}


.breadcrumb .sep {
  font-family: $font-family-heading;
}



//****************************************************************************//
//                    SIDEBAR
//****************************************************************************//

#top #main .sidebar {
  border-left-width: 0;
}

.inner_sidebar {
  margin-left: 0;
}

.content {
  border-right: 0;
  margin-right: 0;
}

body .sidebar .aligncenter {
  padding: 0;
  margin: 0 auto;
}
