//****************************************************************************//
//                               PADDING TOTALE SOPRA IL CONTENUTO
//****************************************************************************//

/*
 * Con TOPBAR attiva - HEADER STICKY e NAV SOTTO
 */
.html_header_top.html_header_topbar_active.html_header_sticky.html_bottom_nav_header #top #main { //TOCHK
  padding-top: ($line-height * 4); //TODO

  @include respond-to(step-2) {
    padding-top: ($line-height * 4); //TODO
}
}


/*
 * Margine Sopra Sidebar e contenuto
 */
.content,
.sidebar {
  padding-top: $line-height * 5;
  padding-bottom: $line-height * 5;
  @include respond-to(step-1) {
    padding-top: $line-height * 4;
    padding-bottom: $line-height * 4;
  }
}




//****************************************************************************//
//                               COLONNE
//****************************************************************************//
/*
 * Margini Colonne
 */
body .column-top-margin {
  margin-top: $line-height * 2;
}


/*
 * Colonne senza margini
 */
#top div .no_margin {

}

#top div .no_margin.first {
  margin-left:0;
}

#main {
  background: #fff;
}

/******************************************************************************/
/* FEAT HEADER
/******************************************************************************/
#top .title_container {
  .container {
    padding: $line-height * 2 3em;
  }
}

.title_container {

  background: url('http://matteomorra.it/files/2016/02/location-1.jpg');
  background-size: cover;


  &::before {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    content:"";
    background-color: palette(header, overlay);
  }

  .main-title {
    @include size(h1);
    @include deco(h1);
    display: block;
    text-align: center;
    @include respond-to(step-2) {
      font-size: font(h1, fs) * 0.8;
      line-height: font(h1, lh) * 0.8;
      margin-bottom: font(h1, mt) * 1;
    }

    @include respond-to(step-3) {
      font-size: font(h1, fs) * 0.7;
      line-height: font(h1, lh) * 0.7;
    }

  }

 .breadcrumb {
   position: inherit;
   text-align: center;
   width: 100%;
   left:0;
   @include size(h5);
   @include deco(h5);
   margin-top: $line-height * 1;
   display: inline-flex;

   .breadcrumb-trail {
     max-width: 690px;
     margin: 0 auto;
   }
 }
}
