//***************************************************************************//
//*                                                                     *****//
//*                                SEZIONI FW
//*              comportamento delle sezioni full-width
//*                                                                         *//
//***************************************************************************//
/*
 * Bordi Generali sezioni FW
 */
.container_wrap {
  border-top-width:0px; //TODO
}




//****************************************************************************//
//                               PADDING DELLE RIGHE
//****************************************************************************//
/*
 * NO Padding: resetta i margini bottomo degli elementi della sezione
 */
 .avia-section-no-padding p:last-of-type,
 .avia-section-no-padding .avia-button.avia-size-medium:last-of-type {
   margin-bottom: 0;
 }

/*
 * Sezioni Socket
 */
.avia-section-small.socket_color {
  margin-top: $line-height * 5;
  margin-bottom: $line-height * 5;
}

/*
 * SMALL padding
 */
.avia-section-small .content,
.avia-section-small .sidebar {
  padding-top: $line-height * 1;
  padding-bottom: $line-height * 1;
}

/*
 * SMALL padding: resetta i margini bottom degli ultimi elementi della sezione
 */
.avia-section-small p:last-of-type,
.avia-section-small ul:last-of-type,
.avia-section-small .avia-button.avia-size-medium:last-of-type {
  margin-bottom: 0;
}


/*
* NORMAL padding
*/
.avia-section-default .content,
.avia-section-default .sidebar {
 padding-top: $line-height * 5;
 padding-bottom: $line-height * 5;
}


/*
 * NORMAL padding: resetta i margini bottom degli ultimi elementi della sezione
 */
.avia-section-default p:last-child,
.avia-section-default ul:last-child,
.avia-section-default .avia-button.avia-size-medium:last-child {
  margin-bottom: 0;
}


/*
* LARGE padding
*/
.avia-section-large .content,
.avia-section-large .sidebar {
  padding-top: $line-height * 5;
  padding-bottom: $line-height * 5;
}


/*
* HUGE padding
*/
.avia-section-huge .content,
.avia-section-huge .sidebar {
  padding-top: $line-height * 6;
  padding-bottom: $line-height * 6;
}




//****************************************************************************//
//                               FLEX CELLS
//****************************************************************************//

//.av-layout-grid-container {
//  padding: $line-height * 3 0 $line-height * 6 0;
//}

.flex_cell {
  padding-top: $line-height * 2 !important;
  padding-bottom: $line-height * 2 !important;
//  position: relative; // se voglio overlay automatico

/*
 * Overlay
 */
//  &::before {
//    @include color-overlay(palette(socket, overlay));
//  }


///
// Bordi delle Flex Cells
///
//  &.el_before_av_cell_one_half {
//    border-right:8px solid;

//    @include respond-to(step-3) { border-right: 0;  border-bottom: 8px solid;}
//  }
//
//  &.el_after_av_cell_one_half {
//    border-left:8px solid;
//
//    @include respond-to(step-3) { border-left: 0;} //TODO
//  }
}

/*
 * Tutte le textbox di numero dispari vengono ristrette a 500px sopra i 1170px
 */
@include respond-to(step-p0) {
  .av-flex-cells .flex_cell {
    .flex_cell_inner {
      width: 500px;
      //background: #111;  //- control
    }
    &:first-child .flex_cell_inner {
      float:right;
    }
    &:last-child .flex_cell_inner {
      float:left;
    }
  }
}

/*
 * Tutte le textbox di numero pari vengono fornite di bg colorato e modifcata la larghezza
 */
.av-flex-cells .flex_cell {

  //Mettiamo un altezza minima alle celle nel cellulare, in modo che si vedano le immagini di sfondo
  @include respond-to(step-3) {
    min-height: 500px;
    background-position: bottom center !important;
  }
    //Niente capolettera per le testblock pari (didascalie)
    .av_textblock_section:nth-of-type(even) p:first-letter {
        font-size: 1em;
        line-height: inherit;
        float: none;
        margin-top: 0;
    }


    //nelle celle DISPARI le textblock PARI (didascalie) hanno background con overlay e larghezza più ampia
    &:nth-of-type(odd) .av_textblock_section:nth-of-type(even) {
    background: palette(main,overlay);
    padding:$line-height / 2 2em;
    width:110%;
    margin-right:-5%;

    p {
      @include size(h5);
      margin-top:0;
      margin-bottom: 0;
    }
  }


  //nelle celle PARI le textblock PARI (didascalie) hanno background con overlay e larghezza più ampia - ma allineate a SX
  &:nth-of-type(even) .av_textblock_section:nth-of-type(even) {
    background: palette(main,overlay);
    padding:$line-height / 2 2em;
    width:110%;
    margin-left:-6%;

    p {
      @include size(h5);
      margin-top:0;
      margin-bottom: 0;
    }
  }
}


//Nelle Celle DISPARI - le textblock vengono flottate a DX
.av-flex-cells .flex_cell:nth-of-type(odd) .av_textblock_section {
    @include respond-to(step-p0) {
//      float:right;
    }
}


//resetta i margini bottom degli ultimi elementi della sezione
.flex_cell p:last-child,
.flex_cell ul:last-child,
.flex_cell .avia-button.avia-size-medium:last-child {
  margin-bottom: 0;
}

/******************************************************************************/
/**                           SEZIONE FW INTRO                                  /******************************************************************************/
#intro {

  position: relative;

  &::before {
    @include color-overlay(header);
  }

  p {
    @include size(h3);
    @include deco(h3);
  }
}

@include respond-to(step-2){
  .container {
   padding: 0 1em;
  }
}
