//***************************************************************************//
//*                                                                     *****//
//*                                SEZIONI FW
//*              comportamento delle sezioni full-width
//*                                                                         *//
//***************************************************************************//
/*
 * Bordi Generali sezioni FW
 */
.container_wrap {
  border-top-width:0px; //TODO
}




//****************************************************************************//
//                               PADDING DELLE RIGHE
//****************************************************************************//
/*
 * NO Padding: resetta i margini bottomo degli elementi della sezione
 */
 .avia-section-no-padding .flex_column p:last-child,
 .avia-section-no-padding .flex_column .avia-button.avia-size-medium:last-child {
   margin-bottom: 0;
 }


/*
 * SMALL padding
 */
.avia-section-small .content,
.avia-section-small .sidebar {
  padding-top: $line-height;
  padding-bottom: $line-height;
}


/*
* NORMAL padding
*/
.avia-section-default .content,
.avia-section-default .sidebar {
 padding-top: $line-height * 4;
 padding-bottom: $line-height * 4;
}


/*
* LARGE padding
*/
.avia-section-large .content,
.avia-section-large .sidebar {
  padding-top: $line-height * 5;
  padding-bottom: $line-height * 5;
}


/*
* HUGE padding
*/
.avia-section-huge .content,
.avia-section-huge .sidebar {
  padding-top: $line-height * 6;
  padding-bottom: $line-height * 6;
}


//EQUAL HEIGHT margini - per spaziare meglio le cose
.av-equal-height-column-flextable {
  margin-top: $line-height * 2;
}

#top .flex_column_table {
    display: inline-table;
}


//****************************************************************************//
//                               FLEX CELLS
//****************************************************************************//
.flex_cell {
  padding-top: $line-height * 2.5 !important;
  padding-bottom: $line-height * 2.5 !important;
//  position: relative; // se voglio overlay automatico


/*
 * Overlay
 */
//  &::before {
//    @include color-overlay(palette(socket, overlay));
//  }


///
// Bordi delle Flex Cells
///
//  &.el_before_av_cell_one_half {
//    border-right:8px solid;

//    @include respond-to(step-3) { border-right: 0;  border-bottom: 8px solid;}
//  }
//
//  &.el_after_av_cell_one_half {
//    border-left:8px solid;
//
//    @include respond-to(step-3) { border-left: 0;} //TODO
//  }
}

@include respond-to(step-p0) {
  .av-flex-cells .flex_cell.av_one_half {
    .flex_cell_inner {
      max-width: 700px;
      //background: #111;  //- control
    }
    &:first-child .flex_cell_inner {
      float:right;
    }
    &:last-child .flex_cell_inner {
      float:left;
    }
  }
}

@include respond-to(step-3) {
  .av-flex-cells .flex_cell.av_one_half {
    min-height: 350px;
  }
}


/*
 * Cambio colore socket delle flex celle socket
 */
.socket_color.av-flex-cells {
  background: #e6dfd5;
}

//****************************************************************************//
//                               FRECCETTE CHE SCROLLANO
//****************************************************************************//

@each $palette, $bg in $colors {
  #top .#{$palette}_color .scroll-down-link {
    color: palette($palette, body);
  }
}

//****************************************************************************//
//                            SEZIONE INTRO
//****************************************************************************//
#intro {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: palette(main, overlay);
  }
}

#intro p {
  @include size(h3);
  @include deco(h3);
  max-width: 785px;
  margin-left: auto;
  margin-right: auto;
}

#intro.avia-section-default .content {
  padding-bottom: $line-height * 8;
}

#top #intro .scroll-down-link {
  height: 1em;
  width: 1em;
  font-size: 6.75em;
  border-radius: 100%;
  padding-top: 0.185em;
  border: 8px solid #fff;
  animation: none;
  margin-bottom: 0.5em;
}

.av-parallax-inner.avia-full-stretch:before {
content: "";
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
  background: palette(main, overlay);
}

//****************************************************************************//
//                               LAYOUT SENZA MARGINI SOPRA E SOTTO
//****************************************************************************//

/*
 * Ultimi elementi no margin-bottom
 */
.av_textblock_section p:last-child,
.av_textblock_section h1:last-child,
.av_textblock_section h2:last-child,
.av_textblock_section h3:last-child,
.av_textblock_section h4:last-child,
.av_textblock_section h5:last-child,
.av_textblock_section ul:last-child,
.av_textblock_section ol:last-child {
  margin-bottom: 0;
}

/*
 * Primi elementi no margin-top
 */
.av_textblock_section p:first-child,
.av_textblock_section h1:first-child,
.av_textblock_section h2:first-child,
.av_textblock_section h3:first-child,
.av_textblock_section h4:first-child,
.av_textblock_section h5:first-child,
.av_textblock_section ul:first-child,
.av_textblock_section ol:first-child {
  margin-top: 0;
}



//****************************************************************************//
//                               SOTTO MENU
//****************************************************************************//

#top .av-submenu-container {
  height: $line-height * 2;
  font-size: 1em;
  line-height: inherit;
}

#top .av-subnav-menu > li {
  font-family: $font-family-heading;
  font-weight: family(ffh, bold);
  font-size: font(h5, fs);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: font(h5, lh) 0;
}
