//***************************************************************************//
//*                                                                     *****//
//*                                SEZIONI FW
//*              comportamento delle sezioni full-width
//*                                                                         *//
//***************************************************************************//
/*
 * Bordi Generali sezioni FW
 */
.container_wrap {
  border-top-width:0px; //TODO
}




//****************************************************************************//
//                               PADDING DELLE RIGHE
//****************************************************************************//
/*
 * NO Padding: resetta i margini bottomo degli elementi della sezione
 */
 .avia-section-no-padding .flex_column p:last-child,
 .avia-section-no-padding .flex_column .avia-button.avia-size-medium:last-child {
   margin-bottom: 0;
 }


/*
 * SMALL padding
 */
.avia-section-small .content,
.avia-section-small .sidebar {
  padding-top: $line-height;
  padding-bottom: $line-height;
}


/*
* NORMAL padding
*/
.avia-section-default .content,
.avia-section-default .sidebar {
 padding-top: $line-height * 3;
 padding-bottom: $line-height * 3;
}


/*
* LARGE padding
*/
.avia-section-large .content,
.avia-section-large .sidebar {
  padding-top: $line-height * 4;
  padding-bottom: $line-height * 4;
}


/*
* HUGE padding
*/
.avia-section-huge .content,
.avia-section-huge .sidebar {
  padding-top: $line-height * 6;
  padding-bottom: $line-height * 6;
}




//****************************************************************************//
//                               FLEX COLUMN CONTAINER
//****************************************************************************//
.flex_column_table {
  padding-top: $line-height;

  &:first-child {
    padding-top: 0;
  }
}
//****************************************************************************//
//                               FLEX CELLS
//****************************************************************************//
.flex_cell {
  padding-top: $line-height * 4;
  padding-bottom: $line-height * 4;
  padding-right: $line-height * 2;
  padding-left: $line-height * 2;
//  position: relative; // se voglio overlay automatico

/*
 * Overlay
 */
//  &::before {
//    @include color-overlay(palette(socket, overlay));
//  }


///
// Bordi delle Flex Cells
///
//  &.el_before_av_cell_one_half {
//    border-right:8px solid;

//    @include respond-to(step-3) { border-right: 0;  border-bottom: 8px solid;}
//  }
//
//  &.el_after_av_cell_one_half {
//    border-left:8px solid;
//
//    @include respond-to(step-3) { border-left: 0;} //TODO
//  }
}

/*
 * Restringimento celle gliglie a risoluzioni =< di HD
 */

@include breakpoint-min(xl) {
  .av-flex-cells .flex_cell.av_one_half {
    .flex_cell_inner .av_textblock_section,
    .flex_cell_inner .tabcontainer,
    .flex_cell_inner .avia-image-container {
      max-width: 700px;
    }
    &:first-child .flex_cell_inner .av_textblock_section,
    &:first-child .flex_cell_inner .tabcontainer,
    &:first-child .flex_cell_inner .avia-image-container {
      float:right;
    }
    &:last-child .flex_cell_inner .av_textblock_section,
    &:last-child .flex_cell_inner .tabcontainer,
    &:last-child .flex_cell_inner .avia-image-container {
      float:left;
    }
  }
}

@include breakpoint-max(sm) {
  .av-flex-cells .flex_cell.av_one_half {
    min-height: 350px;
  }
}



//****************************************************************************//
//                     LAYOUT SENZA MARGINI SOPRA E SOTTO
//****************************************************************************//

/*
 * Ultimi elementi no margin-bottom
 */
.av_textblock_section p:last-child,
.av_textblock_section h1:last-child,
.av_textblock_section h2:last-child,
.av_textblock_section h3:last-child,
.av_textblock_section h4:last-child,
.av_textblock_section h5:last-child,
.av_textblock_section ul:last-child,
.av_textblock_section ol:last-child {
  margin-bottom: 0;
}

/*
 * Primi elementi no margin-top
 */
.av_textblock_section p:first-child,
.av_textblock_section h1:first-child,
.av_textblock_section h2:first-child,
.av_textblock_section h3:first-child,
.av_textblock_section h4:first-child,
.av_textblock_section h5:first-child,
.av_textblock_section ul:first-child,
.av_textblock_section ol:first-child {
  margin-top: 0;
}



//****************************************************************************//
//                               FRECCETTE CHE SCROLLANO
//****************************************************************************//
@each $palette, $bg in $colors {
  #top .#{$palette}_color .scroll-down-link {
    color: palette($palette, accent);
  }
}
