//****************************************************************************//
//*                                                                     ******//
//*                              IMMAGINI
//*              descrizione - descrizione - descrizione
//*                                                                     ******//
//****************************************************************************//
///
// OVERLAY IMMAGINI
///
.avia_transform a .image-overlay {
  display: none !important;
}

#top div .avia-gallery img {
  border-width: 0;
  padding: $line-height / 4;
}

body img.alignright,
.entry-content-wrapper a:hover img.alignright {
  margin: 0 0 0 $line-height;
}
