//***********************************************************************//
//*                                                                     *//
//*                     LA TIPOGRAFIA DEL PROGETTO
//*              descrizione - descrizione - descrizione
//*                                                                     *//
//***********************************************************************//



//***********************************************************************//
//              PARTE PRINCIPALE - BODY - P - TITOLI & DETTAGLI
//***********************************************************************//

/*
 * BODY e P
 */
 body {
   font-size: $font-size;
   line-height: $line-height;
   font-family: $ff-primary;
   text-rendering: optimizeLegibility;
   text-rendering: geometricPrecision;
 }

p, ul, ol, pre, table, blockquote {
  @include margin();
}

ul, ol, pre, table {
  @include decoration();
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}


/*
* HEADINGS - TITOLI
*/

h1, h2, h3, h4, h5 {

}

h1 {
  @include font(h1);
  letter-spacing: -2px !important;
  @include breakpoint-max(md) {
    @include m-size(h1);
  }
}

#intro h1 {
  font-weight: normal;
}

///*
// * Eliminare uppercase
// */
//.template-page .entry-content-wrapper h1,
//.template-page .entry-content-wrapper h2 {
//  text-transform: none;
//}

h2 {
  @include font(h2);
  letter-spacing: -1px !important;

  @include breakpoint-max(md) {
    @include m-size(h2);
  }
}

.template-page .entry-content-wrapper h2 {
  text-transform: none;
}

h3 {
  @include font(h3)
  @include breakpoint-max(md) {
    @include m-size(h3);
  }
}

h4 { @include font(h4) }

h5 { @include font(h3) }

/*
 * Dettagli
 */

hr {
  @include hr-spacing;
}


b, strong, em, small, code { line-height: 1; }

sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: $sup-top;
}

sub { bottom: $sub-bottom; }



/*
 * Blockquote - citazione TIPOGRAFIA
 */
blockquote {
  font-size: font(blockquote, fs);
  line-height: font(blockquote, lh);
  font-family: font(blockquote, fm);
  border-left-width: 3px;
  font-weight: font(blockquote, wt);
}
 /*
  * Blockquote - citazione TIPOGRAFIA
  */
@each $palette, $section in $colors  {
  .#{$palette}_color blockquote {
    border-color: palette($palette, border);
    color: palette($palette, body-sec);
  }
}






//****************************************************************************//
//                      COLORI TIPOGRAFIA
//****************************************************************************//


/*
 * Decorazione Link + HOVER
 */
 #top .entry-content a,
 #top .av_textblock_section a {
   text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;

  &:hover {
    text-decoration: none;
  }

  //rimuove eventuali decorazioni da immagini nel testo
  &.lightbox-added {
    border-bottom: none;
    text-decoration: none;
  }

  &.underline--none {
    text-decoration: none;
  }
}

#top .content {
  h1, h2, h3, h4, h5, h6 {
    a.link--underline {
      text-decoration: underline;
    }
  }
}



/*
 * Colore Link + HOVER
 */
@each $palette, $bg in $colors {

  #top .#{$palette}_color .entry-content a,
  #top .#{$palette}_color .av_textblock_section  a {
      background-image: linear-gradient(to top,transparent,transparent 0.5px, palette($palette, link) -0.8px, palette($palette, link) 1.4px,transparent 1.2px);
      color: palette($palette, body);
      text-shadow: -1px -1px 0 palette($palette, bg), 1px -1px 0 palette($palette, bg), -1px 1px 0 palette($palette, bg), 1px 1px 0 palette($palette, bg);

      &:hover {
        color: palette($palette, link);
        text-decoration: none;
      }
  }

  #top .#{$palette}_color .entry-content,
  #top .#{$palette}_color .av_textblock_section {
    h1, h2, h3, h4, h5 {
      a {
        background-image: none;
        text-shadow: none
      }
    }
  }
}

///
// Colori Grassetti
////
@each $palette, $bg in $colors {
  .#{$palette}_color strong {
    color: lighten(palette($palette, body), 20%);
    font-weight: 600;
  }
}

.main_color .evidenzia {
  color: $bianco;
  background-color: $viola;
  padding: 0 0.25em;
}

.main_color .successo {
  color: $verde;
  font-weight: bold;
  zoom: 1.1;
  position: relative;
  bottom: -$line-height / 32;
  line-height: 0;
  text-transform: uppercase;
}
.main_color .errore {
  color: $rosso;
  font-weight: bold;
  zoom: 1.1;
  position: relative;
  bottom: -$line-height / 32;
  line-height: 0;
  text-transform: uppercase;
}
.main_color .forse {
  color: $arancio;
  font-weight: bold;
  zoom: 1.1;
  position: relative;
  bottom: -$line-height / 32;
  line-height: 0;
  text-transform: uppercase;
}
