//***********************************************************************//
//*                                                                     *//
//*                     LA TIPOGRAFIA DEL PROGETTO
//*              descrizione - descrizione - descrizione
//*                                                                     *//
//***********************************************************************//



//***********************************************************************//
//              PARTE PRINCIPALE - BODY - P - TITOLI & DETTAGLI
//***********************************************************************//

/*
 * BODY e P
 */
 body {
   font-size: $font-size;
   line-height: $line-height;
   font-family: $sans;
   text-rendering: optimizeLegibility;
   text-rendering: geometricPrecision;

   @include breakpoint-max(lg) {
     font-size: $font-size / 1.111111111111111;
   }
 }

p, ul, ol, pre, table, blockquote {
  @include margin();
}

ul, ol, pre, table {
  @include decoration();
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}


/*
* HEADINGS - TITOLI
*/

h1, h2, h3, h4, h5 {

}

h1 {
  @include font(h1);
  letter-spacing: -2px !important;
  @include breakpoint-max(sm) {
    @include m-size(h1);
  }
}

#intro h1 {
  font-weight: normal;
}

///*
// * Eliminare uppercase
// */
//.template-page .entry-content-wrapper h1,
//.template-page .entry-content-wrapper h2 {
//  text-transform: none;
//}

h2 {
  @include font(h2);
  letter-spacing: -1px !important;

  @include breakpoint-max(sm) {
    @include m-size(h2);
  }
}

.template-page .entry-content-wrapper h2 {
  text-transform: none;
}

h3 { @include font(h3) }

h4 { @include font(h4) }

h5 { @include font(h3) }

/*
 * Dettagli
 */

hr {
  @include hr-spacing;
}


b, strong, em, small, code { line-height: 1; }

sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: $sup-top;
}

sub { bottom: $sub-bottom; }



/*
 * Blockquote - citazione TIPOGRAFIA
 */
blockquote {
  font-size: font(blockquote, fs);
  line-height: font(blockquote, lh);
  font-family: font(blockquote, fm);
  border-left-width: 3px;
  font-weight: font(blockquote, wt);
}
 /*
  * Blockquote - citazione TIPOGRAFIA
  */
@each $palette, $section in $colors  {
  .#{$palette}_color blockquote {
    border-color: palette($palette, border);
    color: palette($palette, body-sec);
  }
}






//****************************************************************************//
//                      COLORI TIPOGRAFIA
//****************************************************************************//


/*
 * Decorazione Link + HOVER
 */
 #top .content h1 a,
 #top .content h2 a,
 #top .content h3 a,
 #top .content h4 a,
 #top .content h5 a,
 #top .content h6 a,
 #top .content p a {
   text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  //rimuove eventuali decorazioni da immagini nel testo
  &.lightbox-added {
    border-bottom: none;
    text-decoration: none;
  }

  &.underline--none {
    text-decoration: none;
  }
}




/*
 * Colore Link + HOVER
 */
@each $palette, $bg in $colors {
  .#{$palette}_color .content a {
    color: palette($palette, link);

    &:hover {
      color: lighten(palette($palette, link), 20%);
    }
  }
}

///
// Colori Grassetti
////
@each $palette, $bg in $colors {
  .#{$palette}_color strong {
    color: lighten(palette($palette, body), 20%);
    font-weight: 600;
  }
}
