//***********************************************************************//
//*                                                                     *//
//*                     LA TIPOGRAFIA DEL PROGETTO
//*              descrizione - descrizione - descrizione
//*                                                                     *//
//***********************************************************************//



//***********************************************************************//
//              PARTE PRINCIPALE - BODY - P - TITOLI & DETTAGLI
//***********************************************************************//

/*
 * BODY e P
 */
body {
  @include deco();
  @include body-size;

  margin:0 auto;

  @include respond-to(step-2) { font-size: $font-size * 0.9;} //TODO
  @include respond-to(step-4) { font-size: $font-size * 0.7;} //TODO
}

p, ul, ol, pre, table, blockquote {
  @include body-margin;
}

p, ul, ol, pre, table {
  @include deco();
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}


/*
* HEADINGS - TITOLI
*/

h1, h2, h3, h4, h5 {
  @include deco;
  text-transform: none;
}

h1 {
  @include size(h1);
  @include deco(h1);
  @include respond-to(step-2) { font-size: font(h1, fs) * 0.7; }
}

/*
 * Eliminare uppercase
 */
.template-page .entry-content-wrapper h1,
.template-page .entry-content-wrapper h2 {
  text-transform: none;
}

h2 {
  @include size(h2);
  @include deco(h2);
  @include respond-to(step-2) { font-size: font(h2, fs) * 0.8; }
}

h3 {
  @include size(h3);
  @include deco(h3);}

h4 {
  @include size(h4);
  @include deco(h4);}

h5 {
  @include size(h5);
  @include deco(h5);
}

/*
 * Dettagli
 */

hr { @include hr-spacing; }

b, strong, em, small, code { line-height: 1; }

sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: $sup-top;
}

sub { bottom: $sub-bottom; }

/*
 * Blockquote - citazione //TOCHK
 */

blockquote {
  @include size(blockquote);

  //margin-top: font(blockquote, mt) * 4;

  border-left-width: 0;
  padding: 0;

  &:before {
    content: "\201C";
    font-size: 24em;
    float:left;
    font-family: font(blockquote, fm);
    position: relative;
    left: 0px;
    top: 400px;
    opacity: 0.3;
  }

    &:after {
      content: "";
    }

  p {
    @include deco(blockquote);

    display: inline-block;
    padding-left: 3em;
  }
}



/*
 * Capolettera
 */
.avia-section.main_color .avia_textblock p:first-child:first-letter,
.av-layout-grid-container.main_color .avia_textblock p:first-child:first-letter {
  font-size: $line-height * 3.1;
  line-height: 0.4em;
  float: left;
  margin-top: 0.3em;
  //padding-right: 0.055em;
 }



//****************************************************************************//
//                      COLORI TIPOGRAFIA
//****************************************************************************//

.socket_color {
}

/*
 * Decorazione Link + HOVER
 */
.content a {
  //text-decoration: underline;
  //border-bottom: 1px dashed;
  //font-weight: family(ff, bold);

  &:hover {
    //text-decoration: none;
  }

  //rimuove eventuali decorazioni da immagini nel testo
  &.lightbox-added {
    border-bottom: none;
    text-decoration: none;
  }
}


/*
 * Colore Link + HOVER
 */
@each $palette, $bg in $colors {
  .#{$palette}_color .content a {
    color: palette($palette, link);

    &:hover {
      color: lighten(palette($palette, link), 20%);
    }
  }
}
