//****************************************************************************//
//*                                                                          *//
//*                           LAYOUT DELL'HEADER
//*                    in versione LOGO affiancato a NAVIGAZIONE
//*                                                                          *//
//****************************************************************************//
//****************************************************************************//
//                 TOP BAR - decommentare per utilizzarla
//****************************************************************************//

/*
 * Colori e altezza
 */
#top #header_meta {
  background-color: palette(header, bg-alt); //TODO
  line-height: $line-height; //TODO
  margin-bottom:0;

  a {
    color: palette(header, body); //TODO
  }

  @include breakpoint-min(lg) {
    display: none;
  };
}

//****************************************************************************//
//                 HEADER
//****************************************************************************//

/*
 * Altezza Header
 */

.av_minimal_header #header_main .container.av-logo-container,
.html_header_top.html_header_sticky.html_large .av_minimal_header #header_main .container {
  line-height: $line-height * 3; //TODO
  height: $line-height * 3; //TODO
}
.av_minimal_header.header-scrolled-full #header_main .container.av-logo-container,
.html_header_top.html_header_sticky.html_large .av_minimal_header.header-scrolled-full #header_main .container {
  line-height: $line-height * 2 !important; //TODO
  height: $line-height * 2 !important; //TODO

  .logo img,
  .logo a {
    max-height: $line-height * 2 !important;
  }
}

.av_minimal_header.header-scrolled-full #header_main {
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.2);
}


////
// Background Header
////
.header_color .header_bg {
}

.header_color.header-scrolled-full .header_bg {
  //background: palette(header, bg-alt)
}
