//****************************************************************************//
//*                                                                          *//
//*                           LAYOUT DELL'HEADER
//*                    in versione LOGO affiancato a NAVIGAZIONE
//*                                                                          *//
//****************************************************************************//
/*
 * Altezza Header
 */
.av_minimal_header #header_main .container.av-logo-container {
  line-height: $line-height * 3; //TODO
  height: $line-height * 3; //TODO
  transition: line-height 0.2s;
  transition: height 0.2s;
}

.av_minimal_header.header-scrolled #header_main .container.av-logo-container { //scollato
  line-height: $line-height * 2 !important; //TODO
  height: $line-height * 2 !important; //TODO
transition: all 0.1s;
}

#header {
  box-shadow: 1px 1px 10px rgba(1,1,1,0.3);
}

/*#header.av_minimal_header.header-scrolled {
  line-height: $line-height * 2 !important; //TODO
  height: $line-height * 2 !important; //TODO
}*/

.av_minimal_header.header-scrolled #header_main .container.av-logo-container {
  margin-top: $line-height / 4;
}

.header_color .header_bg,
.header_color .site-background {
  background-color: transparent;
}

#header {
//  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 59%);
  background: #fff;
}


//QUESTA COSA é IL BG DELLA PAGINA PADDATA - influenza il colore dell'header
#main, .avia-msie-8 .av_header_sticky_disabled#header {
  background-color: red;
}


/*
 * Ricerca Header - Sfondo
 */

.header_color .avia-tt {
  background: palette(header, bg);
}

#top .av_minimal_header #s,
#top #s {
  padding: bpad(2) $line-height * 2 bpad(2) $line-height;
  border-width: 2px;
  border-style: solid;
  border-color: palette(header, border);
  line-height: $line-height;
}

#top #searchsubmit, .ajax_load {
//  @extend %button;
  @include button(p, 2);

  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: auto;

  white-space: normal;
  border-style: solid;
//  box-shadow: $button-shadow;
}

.ajax_search_response h4 {
  @include size(h3);
}

#top div .ajax_search_entry {
  @include size(p);
}

.ajax_search_excerpt {
  margin-top: 0;
}

#top .av_header_transparency .header_bg {
  background: #fff;
}
