//****************************************************************************//
//*                                                                          *//
//*                           LAYOUT DELL'HEADER
//*                    in versione LOGO sopra NAVIGAZIONE
//*                              (tutto centrato)
//*                                                                          *//
//****************************************************************************//

//****************************************************************************//
//                 TOP BAR - decommentare per utilizzarla
//****************************************************************************//

//*
// * Colori e altezza
// */
#top #header_meta {
  background-color: transparent ; //TODO
  line-height:$line-height; //TODO
  margin-bottom:0;

  a {
    color: palette(header, body); //TODO
  }
}


/*
 * Top Bar Scrollata
 */

//#top .header-scrolled #header_meta {
//  display:none;
//}

///*
// * Layout Elementi Top Bar
// */
//#top .social_bookmarks {
//  height: auto;

//  li {
//    width: $line-height; //TODO
//    border-right-width: 0; //TODO
//    line-height: $line-height; //TOCR - da tenere solo se non riesco a resettare le mediaqueries

//    a {
//      width:$line-height; //TODO
//    }
//  }
//}


///*
// * Toglie i bordi dalle icone social a <767px
// */
//.responsive #header_meta .social_bookmarks li {

//  @include respond-to(step-3) {
//    border-width: 0;
//  }
//}


///*
// * Toglie il bordo destro dall'ultima icona social a <767px
// */
//.responsive #top #header_meta .social_bookmarks li:last-child {
//  @include respond-to(step-3) {
//    border-right-width: 0;
//  }
//}


///*
// * Testo - Numero di telefono
// */
//.phone-info {
//  padding: 0;
//  font-size: font-size(h5, fs); //TODO
//  font-weight: font-deco(small, weight);

//  span {
//    color: palette(header, body);
//  }
//}



//****************************************************************************//
//                                MINIMAL HEADER
//                            scommentare per usare
//****************************************************************************//

/*
 * Altezza Header
 */
.av_minimal_header #header_main .container.av-logo-container {
  line-height: $line-height * 4; //TODO
  height: $line-height * 4; //TODO
  //padding: $line-height / 2;
  transition: all 0.5s;
}



.admin-bar .header-scrolled-full #header_main {
  margin-top: 30px;
}

.html_header_top.html_bottom_nav_header .header_color.header-scrolled-full #header_main {
//background-color: darken(palette(header, bg), 8%);
box-shadow: 2px 4px 15px rgba(1,1,1, 0.2);
 }

/*
 * Sezione logo - scrollato a metà
 */
.html_header_top.html_bottom_nav_header .header-scrolled #header_main .av-logo-container  {
  line-height: $line-height * 2 !important; //TODO
  height: $line-height * 2 !important; //TODO
  transition: all 0.5s;
}

/*
 * Sezione logo - scrollato
 */
.html_header_top.html_bottom_nav_header .header-scrolled-full #header_main .av-logo-container {
//visibility: hidden;
line-height: 0 !important; //TODO
height: 0 !important; //TODO
transition: all 0.5s;
}

/*
 * Main Nav
 */
.html_header_top.html_bottom_nav_header .main_menu {
  line-height:$line-height * 2;
}

/*
 * Main Nav- Scrollato
 */
.html_header_top.html_bottom_nav_header .header-scrolled-full .main_menu {
  line-height: $line-height * 2; //TODO
  height: $line-height * 2; //TODO
}


//****************************************************************************//
//                        SOVRAPPOSIZIONE HEADER A TOP BAR
//                   il bg della topbar deve essere trasparente
//                              scommentare per usare
//****************************************************************************//

///*
// * Contenitore LOGO + NAV
// */
//.html_header_top.html_bottom_nav_header #header_main {
//  z-index: 3;
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  transition: all 0.5s;
//  background: palette(header, bg);
//  height: $line-height * 5;


//    @include respond-to(step-2) {
//      position: relative;
//    }
//}

/*
 * Corregge il logo sovrapposto quando l'header scrolla - il bg della topbar deve essere trasparente
 */
//.html_header_top.html_bottom_nav_header .header-scrolled #header_main {

//  height: $line-height * 5;
//}

/*
 * Corregge il logo sovrapposto quando l'header scrolla - il bg della topbar deve essere trasparente
 */
//.html_header_top.html_bottom_nav_header .header-scrolled-full #header_main {
//  position: fixed;
//  transition: all 0.5s;
/* bottom: 52em; */
//  top: 0em;
//  left: 0;
//  right: 0;
//  height: $line-height * 2;
//}

/*
 * MENU MOBILE
 */
@include respond-to(step-2) {
.html_header_top.html_bottom_nav_header .header-scrolled #header_main {
    position:relative;
  }
}

/*
 * LOGO
 */
 .logo a {
   margin-top: $line-height / 2;
 }
