//****************************************************************************//
//*                                                                          *//
//*                           NAVIGAZIONE PRINCIPALE
//*                    Posizione - Hover & Tipografia
//*                                                                          *//
//****************************************************************************//
/*
 * Impostazione navigazione
 */
#avia-menu.av-main-nav {
  vertical-align: top; //TODO - può essere middle o bottom anche!

  &> li {
    line-height: $line-height;

    &> a {
      font-weight: 400; //TODO
      padding: 0 15px; // TODO

      @include respond-to(step-1) {
        padding: 0 10px;
      }
    }
  }
}

/*
 * Decorazione degli elementi di navigazione - hover - current
 */
.av-main-nav > li {
  // il font family della navigazione
  font-family: font(h1, fm);
  //text-transform: uppercase;

  &:hover {
    color: palette(header, accent);

    &>a>span {
    //font-weight: 600;
    border-bottom: 3px solid palette(header, accent);
    padding: $line-height / 4 0;
  //  background: white;

    }

    &::after { // aggiunge un elemento grafico agli elementi in hove
    //  content: "\e886";
    //  display: block;
    //  color: #fff;
    //  font-family: 'entypo-fontello';
    //  line-height: 0;
    //  margin-top: 8px;
    //  -webkit-transform: scale(2.5,1);
    //     -moz-transform: scale(2.5,1);
    //      -ms-transform: scale(2.5,1);
    //          transform: scale(2.5,1);
    }
  }

  &.current-menu-item {
    color: palette(header, accent);
    &>a>span {
    //  font-weight: 600;
      border-bottom: 3px solid palette(header, accent);
    padding-bottom: $line-height / 4;
    }
    &::after {
    //  @extend :hover::after; //estende l'elemento "corrente" con l'elemento grafico degli elementi ::hover
    }
  }
}

//****************************************************************************//
//                               SOTTOMENU
//****************************************************************************//

.header_color .main_menu ul ul {
  background-color: transparent;
}

.header_color .main_menu .menu ul li a:hover {
  background: palette(header,bg);
}

.header_color .main_menu .menu ul li a {
  background-color: #fff;
  border:0;
}

.header_color.header-scrolled-full .main_menu .menu ul li a {
//  background-color: rgba($azzurro, 0.8);
  border:0;
}

//****************************************************************************//
//                               HAMBURGER
//****************************************************************************//
#advanced_menu_toggle,
#advanced_menu_hide {
  background: palette(header, bg);
  color: palette(header, body);
  border-color: palette(header, body)
}

#top #wrap_all .av_header_transparency,
.av_header_transparency #advanced_menu_toggle {
  background: palette(header, bg);
  color: palette(header, body);
  border-color: palette(header, body)
}
