//****************************************************************************//
//*                                                                          *//
//*                           NAVIGAZIONE PRINCIPALE
//*                    Posizione - Hover & Tipografia
//*                                                                          *//
//****************************************************************************//
/*
 * Impostazione navigazione
 */
#avia-menu.av-main-nav {
  vertical-align: middle; //TODO - può essere middle o bottom anche!

  &> li {
    line-height: $line-height;

    &> a {
      font-weight: 400; //TODO
      padding: 0 35px; // TODO
      text-transform: uppercase;

      @include respond-to(step-1) {
        padding: 0 20px;
      }
    }
  }
}

.header-scrolled-full #avia-menu.av-main-nav {
  vertical-align: middle;
}

.header-scrolled-full #avia-menu.av-main-nav > li {
  margin-top: $line-height / 2;
}


/*
 * Decorazione degli elementi di navigazione - hover - current
 */
.av-main-nav > li {
  // il font family della navigazione
  //font-family: inherit;
  //text-transform: uppercase;

  &:hover {

    &>a>span {
    //font-weight: 600;
    color: palette(header, heading);
    }

    &::after { // aggiunge un elemento grafico agli elementi in hove
    //  content: "\e886";
    //  display: block;
    //  color: #fff;
    //  font-family: 'entypo-fontello';
    //  line-height: 0;
    //  margin-top: 8px;
    //  -webkit-transform: scale(2.5,1);
    //     -moz-transform: scale(2.5,1);
    //      -ms-transform: scale(2.5,1);
    //          transform: scale(2.5,1);
    }
  }

  &.current-menu-item {
    &>a>span {
    //  font-weight: 600;
    color: palette(header, heading);
    }
    &::after {
    //  @extend :hover::after; //estende l'elemento "corrente" con l'elemento grafico degli elementi ::hover
    }
  }
}



//****************************************************************************//                         //                                 SUBMENU
//****************************************************************************//

.main_menu .sub-menu {
  padding-top: $line-height;
  padding-bottom: $line-height;
}


.header_color .main_menu .menu ul li a {
  border: 0;
}


.header_color .main_menu .menu ul li a:hover,
.header_color .av-subnav-menu ul a:hover {
  background-color: palette(header, bg);
}
