//****************************************************************************//
//*                                                                          *//
//*                             Box vari
//*              descrizione - descrizione - descrizione
//*                                                                          *//
//****************************************************************************//

.iconbox .iconbox_content .iconbox_content_title {
  padding: 0;
  letter-spacing: 0;
  margin-bottom: 0;
  font-weight: family(secondary, bold);
}

//****************************************************************************//
//                            BOX TOP ICON
//****************************************************************************//
/*
 * Layout top-iconbox - contenitore
 */
#top .iconbox_top {
  margin-top: $line-height;
}

/*
 * Layout top-iconbox - contenuto
 */
.iconbox_top .iconbox_content {
  padding: bpad(0) 2em;
  border: 0px solid;
}



/*
 * Iconbox Title
 */

.iconbox_top .iconbox_content .iconbox_content_title {
  @include size(h3);
}

/*
 * Colori iconbox top icon
 */
@each $palette, $bg in $colors {
  .#{$palette}_color .main_color.iconbox_top {

    .iconbox_icon {
      background-color: palette($palette, accent-alt);
      color: white;
    }

    .iconbox_content {
      background: palette($palette, bg-alt);
      border-color: palette($palette, border);

      p {
        color: palette($palette, body-alt);
      }

      blockquote {
        color: palette($palette, body-alt);
        border-color: palette($palette, accent-alt)
      }

      a {
        color: palette($palette, accent-alt);
      }
    }
  }
}

//****************************************************************************//
//                            ICONBOX - Icon Left / small
//****************************************************************************//
////
// Icona
////
.iconbox_left .iconbox_icon {
  top: 0;
  left: -0.5em;
}


///
// Titolo
///
.iconbox .iconbox_content .iconbox_content_title {

}
//****************************************************************************//
//                            ICONBOX - Icon Left / Right / BIG
//****************************************************************************//
////
// Icona
////
#top .iconbox_left_content .iconbox_icon,
#top .iconbox_right_content .iconbox_icon {
  width: 2.5em;
  height: 2.5em;
  font-size: 1.5em;
  line-height: 2.5em;
  border-radius: 100%;
  margin-right: 0.5em;
}
