//****************************************************************************//
//*                                                                          *//
//*                             Box vari
//*              descrizione - descrizione - descrizione
//*                                                                          *//
//****************************************************************************//

//****************************************************************************//
//                            BOX TOP ICON
//****************************************************************************//
/*
 * Layout top-iconbox - contenitore
 */
#top .iconbox_top {
  margin-top: $line-height;
}

/*
 * Layout top-iconbox - contenuto
 */
.iconbox_top .iconbox_content {
  padding: $line-height 2em $line-height * 2 2em;
  border: 0px solid;
}



/*
 * Iconbox Title
 */

.iconbox_top .iconbox_content .iconbox_content_title {
  @include size(mini-h3);
  padding-top: 0;
  //margin-top: 0;
}

.iconbox_icon {
  display: none;
}

/*
 * Colori iconbox top icon
 */
@each $palette, $bg in $colors {
  .#{$palette}_color .main_color.iconbox_top {

    .iconbox_content {
      background: palette($palette, bg-alt);
      border-color: palette($palette, border);

      p {
        color: palette($palette, body-alt);

      }

      h1, h2, h3, h4, h5, h6 {
        color: palette($palette, body-alt);
      }

      blockquote {
        color: palette($palette, body-alt);
        border-color: palette($palette, accent-alt)
      }

      a {
        color: palette($palette, accent-alt);
      }

      strong {
        color: palette($palette, accent-alt);
      }
    }
  }
}



/*
 * Toggle tag list
 */

.taglist {
  margin-bottom: $line-height;
}

.js_active .toggler {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-top-width: 2px;
  padding: bpad(1) 3em;
  text-transform: uppercase;
  font-family: $font-family-heading;
  font-weight: family(ff, bold);
}

.js_active .togglecontainer section:last-child .toggler {
  border-bottom: solid 2px palette(main, border);

  &.activeTitle {
    border-bottom: 0;
  }
}


.js_active .togglecontainer section:last-child .toggle_content {
border-bottom: solid 2px palette(main, border);
}

.toggle_icon {
//  height: $line-height;
//  width: $line-height;
top: 1.125em;
}

/*.toggle_icon .hor_icon {
  width: $line-height;
  top: 0.6em;
}

.toggle_icon .vert_icon {
  height: $line-height;
  left: 0.6em;
}*/

.toggle_content {
  margin: 0;
  padding: $line-height 3em;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
}

.main_color .toggler:hover,
.main_color .toggle_content {
  background: palette(socket, bg);
}

.main_color .toggler.activeTitle,
.main_color .toggler.activeTitle:hover {
  background: palette(socket, bg);
}
