.hr {
  line-height: $line-height * 2;
  height: $line-height * 2;
  margin-top: $line-height * 1.5;
  margin-bottom: $line-height * 1.5;
}

.hr-custom {
  min-height: $line-height * 2;
  height: auto;
}

#top .hr-invisible {
  height: $line-height * 2 !important;
}
