//****************************************************************************//
//*                                                                          *//
//*                             ICONE VARIE
//*              descrizione - descrizione - descrizione
//*                                                                          *//
//****************************************************************************//

//****************************************************************************//
//                            ICON LIST - colori
//****************************************************************************//
/*
 * Main color
 */
.main_color .avia-icon-list .iconlist_icon {
  background: palette(main, accent);
  color: palette(main, bg);
}



/*
 * Header color
 */
.header_color .avia-icon-list .iconlist_icon {
  background: palette(header, accent);
  color: palette(header, bg);
}



/*
 * Socket color
 */
.socket_color .avia-icon-list .iconlist_icon {
  background: palette(socket, accent);
  color: palette(socket, bg);
}



/*
 * Footer color
 */
.footer_color .avia-icon-list .iconlist_icon {
  background: palette(footer, accent);
  color: palette(footer, bg);
}



/*
 * Alternate color
 */
.alternate_color .avia-icon-list .iconlist_icon {
  background: palette(alternate, accent);
  color: palette(alternate, bg);
}




//****************************************************************************//
//                            ICON LIST - Layout
//****************************************************************************//
////
// Lista
////
.avia-icon-list li {
  padding-bottom: $line-height;
}
////
// Icona
////
.avia-icon-list .iconlist_icon {
  height: 2.3em;
  width: 2.3em;
  line-height: 2.3em;
  font-size: 1.5em;
  border-radius: 100%;
  margin-right: 1em;
  margin-left: 0;
}

.avia-icon-list-right .iconlist_icon {
  margin-right: 0;
  margin-left: 1em;
}

////
// Titolo
////
.avia-icon-list .iconlist_title {
  margin-top: 0;
  top: 0;
}
