//****************************************************************************//
//*                                                                          *//
//*                             ICONE VARIE
//*              descrizione - descrizione - descrizione
//*                                                                          *//
//****************************************************************************//

//****************************************************************************//
//                            ICON LIST
//****************************************************************************//
/*
 * Main color
 */
.main_color .avia-icon-list .iconlist_icon {
  background: palette(main, accent);
  color: palette(main, bg);
}



/*
 * Header color
 */
.header_color .avia-icon-list .iconlist_icon {
  background: palette(header, accent);
  color: palette(header, bg);
}



/*
 * Socket color
 */
.socket_color .avia-icon-list .iconlist_icon {
  background: palette(socket, accent);
  color: palette(socket, bg);
}



/*
 * Footer color
 */
.footer_color .avia-icon-list .iconlist_icon {
  background: palette(footer, accent);
  color: palette(footer, bg);
}



/*
 * Alternate color
 */
.alternate_color .avia-icon-list .iconlist_icon {
  background: palette(alternate, accent);
  color: palette(alternate, bg);
}

.entry-content-wrapper .avia-icon-list {
 List-style: none;
}

.avia-icon-list li {
  margin-left: 0;
}

.avia-icon-list .iconlist_icon {
Text-align: center;
}

.avia-icon-list-right .iconlist_icon {
  margin-right: 0;
  margin-left: 1em;
  float: right;
}

.avia-icon-list-right * {
  text-align: right;
}

.avia-icon-list-right .iconlist_icon {
  margin-right: 0;
  margin-left: 1em; // CHECK
  float: right;
}

.avia-icon-list-right * {
  text-align: right;
}

.avia-icon-list-left .iconlist_icon {
  float: left;
}

////
// descrizione
///
.iconlist_content_wrap {
  overflow: auto;
}



/***
 ICONBOX */

.iconbox {
  .iconbox_icon,
  .iconbox_content_title  {
    display: inline-block;
  }

  &_left .iconbox_icon {
    margin-right: 0.5em;
  }
}
