
//****************************************************************************//
//*                                                                     ******//
//*                   STILI WIDGET
//*              descrizione - descrizione - descrizione
//*                                                                     ******//
//****************************************************************************//


.flex_column .widget .widgettitle,
.content .widget .widgettitle {
  margin-top: $line-height;
}

.widget {
  padding: 0;
  margin-bottom: $line-height;
  margin-top: $line-height;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

//************************************************************************************************//
//          TITOLI
//************************************************************************************************//
///
// Titoli in sidebar
///
.sidebar .widget .widgettitle {
  margin-left: -$line-height * 1.5;
  margin-right: -$line-height * 1.5;
  padding: $line-height;
  background: palette(socket, bg);
  color: palette(socket, body);
  margin-top: 0;
  position: relative;
  box-shadow: 2px 2px 4px rgba(0,0,0, 0.2);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 $line-height $line-height 0;
    border-style: solid;
    border-color: darken(palette(socket, bg), 10%) palette(main, bg-alt);
  }
}

//************************************************************************************************//
//          WIDGET LATEST NEWS
//************************************************************************************************//

.news-thumb  {
  padding: 0;
  height: 36px;
  width: 36px;
}

.news-thumb img,
.news-thumb img {
  height: 36px;
  width: 36px;
}

.news-link {
  .news-time {
    display: none;
  }
}

//************************************************************************************************//
//          WIDGET WP ULTIMI ARTICOLI
//************************************************************************************************//
.recentcomments,
.widget_recent_entries li {
  padding: ($line-height / 2) 0;
}

//************************************************************************************************//
//          WIDGET NAV MENU
//************************************************************************************************//

div .widget_nav_menu {
  padding-bottom: 0;
}

.widget_nav_menu {

  ul {
    padding: ($line-height / 2) 0 !important;
  }

  li {
    list-style: disc;
  }

  a {
    padding: 0;
    text-transform: uppercase;
    font-weight: family(secondary, bold);
    font-family: family(secondary, fm);
  }
}

//************************************************************************************************//
//          WIDGET di TESTO
//************************************************************************************************//
.widget_text {
  margin-left: -$line-height * 1.5;
  margin-right: -$line-height * 1.5;

  img {
    display: block;
  }
}

//************************************************************************************************//
//          WIDGET di TCATEGORIE
//************************************************************************************************//

#top .widget ul {
  margin: ($line-height / 2) 0;
}
