//*==========================================================================*//
//*                                                                          *//
//*                         LISTATI - BIG IMAGE
//*                          DIMENSIONI & FACE
//*                                                                          *//
//*==========================================================================*//

/*
 * Immagine
 */



/*
 * Titolo
 */
.single-big h2.post-title {
  @include size(h3);
  @include deco(h3);

  margin-top: 0;
  padding: font(h3, mt) 0.5em;
  //background: palette(main, button);
  background: $tortora;
}

#top .flex_column .single-big .entry-content-wrapper h2.post-title {

}

/*
 * Meta del listato - uno span
 */
.single-big  .post-meta-infos {
//background: black;
text-align: center;
@include size(h5);
margin-bottom: font(h5, mt);
top: 0;
font-family: 'Josefin Sans';
font-weight: 600;
}



.read-more-link {
  text-align: center;
  font-family: font(p, fm);
}

.category article {
  margin-bottom: $line-height * 2;
}
