//*==========================================================================*//
//*                                                                          *//
//*                       POST SINGOLO - BIG IMAGE
//*                          DIMENSIONI & FACE
//*                                                                          *//
//*==========================================================================*//


//****************************************************************************//
//                            IMMAGINE + TITOLO + META
//****************************************************************************//
/*
 * Contenitore Immagine
 */

.big-preview.single-big {
  padding-bottom: 0;
  margin-bottom: $line-height * 2;
  display: none;
}


/*
 * Layout No Sidebar
 */
#top .fullsize .template-blog .post .entry-content-wrapper {
  text-align: left;

  .entry-content {

    h1, h2, h3, h4, p, ul, ol, .author-box, div {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    img {
      display: block;
      max-width: 600px;

      &.aligncenter {
        width: 100%;
      }
    }

  }

  .entry-content-header {
    .post-title,
    .post-meta-infos {
      text-align: center;
    }
  }
}

#top .fullsize .template-blog .author-box {
  //display: inline-flex;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: table;
  text-align: center;
  margin-bottom: $line-height;

  .author-extra-border {
    display: none;
  }
}

/*
 * TITOLO e titoli
 */
.entry-content-wrapper h1.post-title,
#top .fullsize .template-blog .post-title {
  @include m-size(h1, $mt: 0);
  padding: 0;

  @include breakpoint-max(md) {
    @include m-size(h1, $mt: 0);
  }
}

.single-post h2 {
  @include m-size(h2);
  @include breakpoint-max(md) {
    @include m-size(h2);
  }
}

.single-post h3 {
  @include m-size(h3);
}

/*
 * TITOLO e titoli - con page builder
 */
.single-post {
  .avia-section,
  .av-layout-grid-container {
    h1 {
        @include font(h1);

        @include breakpoint-max(md) {
          @include m-size(h1);
        }
      }

    h2 {
      @include font(h2);

      @include breakpoint-max(md) {
        @include m-size(h2);
      }
    }

    h3 {
      @include font(h3);

      @include breakpoint-max(md) {
        @include m-size(h3);
      }
    }
  }
}

/*
 * Meta - contenitore // uno span
 */
.single-post .single-big .post-meta-infos {
}


///
// AUTHOR box
///
.author-box {

  display: inline-block;
  padding: ($line-height * 1.5);
  background: palette(main, bg-alt);
  margin: 0 $line-height;
}


///
// commenti
///
.comment-entry {
  margin-top: ($line-height * 2);
}

.form-submit input {
  @extend %button;

  @include button(p);

  text-transform: uppercase;
}

/*
 * Immagini con Caption
 */
#top.single-post .wp-caption {
  margin-top: 0;
  margin-bottom: $line-height;
  border: 0;

  img {
    padding: 0;
  }

  .wp-caption-text {
    @include font(small, $mt: 0, $wt: normal);
    padding: size(h5, lh) / 2;
  }
}

///
// Related Entries
///
.main_color .related_posts.av-related-style-full a {
  background: transparent;
  border: 0;

  strong {
    @include font(h5, $wt: normal, $fm: primary);
  }
}
