//*==========================================================================*//
//*                                                                          *//
//*                       POST SINGOLO - BIG IMAGE
//*                          DIMENSIONI & FACE
//*                                                                          *//
//*==========================================================================*//


//****************************************************************************//
//                            IMMAGINE + TITOLO + META
//****************************************************************************//
/*
 * Contenitore Immagine
 */

.big-preview.single-big {
  padding-bottom: 0;
  margin-bottom: $line-height * 2;
  display: none;
}

/*
 * TITOLO e titoli
 */
.entry-content-wrapper h1.post-title {
  @include font(h2, $mt: 0);
}

.single-post h2 {
  @include font(h3);
}

.single-post h3 {
  @include font(h4);
}

/*
 * TITOLO e titoli - con page builder
 */
.single-post {
  .avia-section,
  .av-layout-grid-container {
    h1 { @include font(h1); }
    h2 { @include font(h2); }
    h3 { @include font(h3); }
  }
}

/*
 * Meta - contenitore // uno span
 */
.single-post .single-big .post-meta-infos {
}


///
// AUTHOR box
///
.author-box {
  
  display: inline-block;
  padding: ($line-height * 1.5);
  background: palette(main, bg-alt);
  margin: 0 $line-height;
}


///
// commenti
///
.comment-entry {
  margin-top: ($line-height * 2);
}

.form-submit input {
  @extend %button;

  @include button(p);

  text-transform: uppercase;
}
