//*==========================================================================*//
//*                                                                          *//
//*                       POST SINGOLO - BIG IMAGE
//*                          DIMENSIONI & FACE
//*                                                                          *//
//*==========================================================================*//


//****************************************************************************//
//                            IMMAGINE + TITOLO + META
//****************************************************************************//
/*
 * Contenitore Immagine
 */

.single-post .big-preview.single-big {
  padding-bottom: 0;
  margin-bottom: $line-height * 2;
  display: none;
}

/*
 * TITOLO
 */
.entry-content-wrapper h1.post-title {
    font-size: 3.375em;
    line-height: 1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
  //@include respond-to(step-2) { font-size: font(h1, fs) * 0.5; }
}

.single-post h2 {
  font-size: 2.25em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.single-post h3 {
  font-size: 1.5em;
  line-height: 1.125em;
  margin-top: 1.125em * 2;
  margin-bottom: 1.125em;
}

/*
 * Meta - contenitore // uno span
 */
.single-post .single-big .post-meta-infos {
  background: palette(main, bg);
  display: block;
  padding: bpad(0.5) 0;
  border-bottom: 1px solid palette(main, border);
  margin-bottom: $line-height * 2;
  font-family: $font-family-heading;
  font-weight: family(ffh, bold);
}

.date-container {
  float: right;
}

.text-sep-date,
.comment-container,
.text-sep-comment {
  display: none;
}

.blog-categories::before {
  content: "scritto "
}

/*
 * Author Box
 */

.author-box {
display: inline-block;
width: 94.1%;
margin-bottom: $line-height * 2;
background: palette(main, bg-alt);
padding: $line-height * 2;
}

.main_color h3.author-title,
.author-box p {
  color: palette(main, body-alt);
}

.author-box .post-author-format-type {
  margin-top: $line-height / 2;
}

#top .main_color .comment-form label {
  color: palette(main, body);
}

#submit,
input[type='submit'] {
  @extend %button;
  @include button(p, 2);
}

.main_color #submit,
.main_color input[type='submit'] {
@include button-color();

  &:hover{
    @include button-color(hover, main);
  }
}
